target/classes/abcdmerchandise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="abcd-merchandise.myshopify.com" port="443" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="f3b3d8786bbb12a2a6fc900df99679f8" password="9bc83bbb7ddd4428598befa8421b08a5"/>
    </http:request-config>
    <flow name="abcdmerchandiseFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/customer" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/admin/customers.json" method="TRACE" doc:name="HTTP"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
